<h2 class="text-center mt-3">Advice app </h2>
<div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link "  href="{% url 'adv'%}">Advice</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'signup'%}">Sign In</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>