{% extends 'index.html'%}
{% load static%}

{% block content%}
<h3> Welcome To our user Dashboard</h3>
<a href="{%url 'logout'%}">logout</a>
<div class="row  ">
    <div class="col-4  ">
        <div class="col-7 ">
          <img src="{% static 'avatar.png'%}" class="img-fluid" alt="avatar Image">
        </div>
        <p class="col-5 bg-info text-align-center">Hello {{username}}</p>
    </div>
    
    <div class="col-8 mt-5 ">
        <div class="row align-items-center">
            <div class="col align-items-center">
                <h5 class="">My advice to you is:</h5>
                <p class="" id="adv"></p>
                <table class="table table-striped table-bordered bg-info" style="background-color: aqua;">
                    <thead>
                      <tr>
                        <th >#</th>
                        <th >First</th>
                        <th >Last</th>
                        <th >Handle</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>@mdo</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>@fat</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td >Larry the Bird</td>
                        <th>Bad</th>
                        <td>@twitter</td>
                      </tr>
                    </tbody>
                  </table>
                
            </div>
       
    
        <div class="row mt-3 d-flex justify-content-evenly">
            <button class="btn btn-primary col-2" onclick="getJSON(link)">Refresh Me!</button>
            <a class="btn btn-primary col-2" href="{%url 'generate_pdf'%}">Print</a>
            <a class="btn btn-primary col-2" href="{%url 'userprofile'%}">Update Profile</a>
            <a class="btn btn-primary col-2" href="{%url 'change_password'%}">Change Password</a>
        </div>
    </div>
 
</div>



<!-- Advice json fetch API -->
<script>
    getJSON = async(url) => {
        try{
            const response = await fetch(url)
            const data = await response.json();
            console.log(data)
            const a = document.getElementById("adv")
            a.innerHTML = data.slip.advice

        }
        catch(error){
            console.error(error)
        }

    };
    const link ="https://api.adviceslip.com/advice";
    getJSON(link);
</script>

{% endblock %}