/* forms.css */
h1{
    text-align: center;
}
.contain {
    width: 80%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #15c9cf;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],


input[type="submit"] {
    background-color: #ffffff;
    color: white;
    margin-top: 6px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
